/* Custom CSS */
.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow to the form */
}
.btn-custom {
    background-color: #2C3AB1; /* Custom button color */
    border-color: #2C3AB1; /* Matching border color */
}

.btn-custom:hover {
  background-color: #1f2c77; /* Darker color on hover */
  border-color: #1f2c77; /* Matching border color on hover */
}
.custom-text{
  color: #2C3AB1 !important; /* Change the text color to white */
  font-weight: bold;
  font-family: Roboto;
  font-size: 24px;
}
.form-control:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
  border-color: #2C3AB1;
}
h1, h2 {
    color: #2C3AB1;
    font-weight: bolder;
    font-family: Roboto;
    font-size: 24px
}
 .container-margin {
        margin-top: 100px; /* Adjust as needed to leave space for the upper navbar */
 }

 .exeat-form {
        max-width: 600px; /* Set maximum width for the form */
        margin: 0 auto; /* Center the form */
    }