{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<link href="static/css/index.css" rel="stylesheet"> <!-- Link to your CSS file -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-12 custom-class">
            <div class="card shadow mb-4 border-primary mt-4" style="padding-right: 100px;">
                <div class="card-body text-center">
                    <h1 class="card-title text-left">Welcome to the MTU’s Exeat <br>Request System!</h1>
                    <p class="card-text text-left text-justify">Submit your exeat requests anytime, anywhere and track their status right here.
                        Whether it's a family event, medical appointment, or personal commitment, we're here to help you
                        navigate the process smoothly.</p>
                    <div class="col-16 d-flex justify-content-end align-items-start">
                        <img src="static/img/background.png" alt="Logo" class="logo">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-12 custom-class">
            <div class="card shadow mb-4 border-primary" style="background-color: #2C3AB21A;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="card-title text-left">How It Works</h2>
                            <ul>
                                <li><p class="column-line"><span class="column-text">Submit Your Request:</span> Use the form provided to submit your exeat request. Please make sure to provide all necessary details, including the reason for your absence and any supporting documentation.</p></li>
                                <li><p class="column-line"><span class="column-text">Await Approval:</span> Once your request is submitted, it will be reviewed by our administration team. You can track the status of your request on this dashboard.</p></li>
                                <li><p class="column-line"><span class="column-text">Stay Informed:</span> You'll receive notifications via email or through this dashboard regarding the status of your request. Be sure to check your email regularly for updates</p></li>
                                <li><p class="column-line"><span class="column-text">Approved? You're Good to Go!:</span> If your request is approved, you're all set! Enjoy your time off responsibly.</p></li>
                                <li><p class="column-line"><span class="column-text">Declined? Let's Talk:</span> If your request is declined, don't worry. Reach out to our administration team to discuss the reasons for the decision and explore potential alternatives</p> </li>
                                <!-- Add more steps as needed -->
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h2 class="card-title text-left">Important Notes</h2>
                            <ul>
                                <li><p class="column-line">Requests should be submitted from 7:00am - 6:00pm.</p></li>
                                <li><p class="column-line">Remember to provide valid reasons and supporting documentation for your absence</p></li>
                                <li><p class="column-line">Request can not be done more than twice a month.</p></li>
                                <li><p class="column-line">Abuse of the exeat system may result in consequences, so please use it responsibly.</p></li>
                                <li><p class="column-line">If you have any questions or need assistance, don't hesitate to contact our administration team.<br>Thank you for your cooperation!</p></li>
                                <p class="column-line column-text column-color">Sincerely,<br>Mountain Top University.</p>
                                <!-- Add more steps as needed -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
